(
.notdef,
.null,
CR,
space,
space.alt1,
space.alt2,
space.alt3,
space.alt4,
space.alt5,
space.alt6,
nbspace,
thinspace,
A,
A.alt1,
A.alt2,
A.alt3,
A.alt4,
A.alt5,
A.alt6,
B,
B.alt1,
B.alt2,
B.alt3,
B.alt4,
B.alt5,
B.alt6,
C,
C.alt1,
C.alt2,
C.alt3,
C.alt4,
C.alt5,
C.alt6,
D,
D.alt1,
D.alt2,
D.alt3,
D.alt4,
D.alt5,
D.alt6,
E,
E.alt1,
E.alt2,
E.alt3,
E.alt4,
E.alt5,
E.alt6,
F,
F.alt1,
F.alt2,
F.alt3,
F.alt4,
F.alt5,
F.alt6,
G,
G.alt1,
G.alt2,
G.alt3,
G.alt4,
G.alt5,
G.alt6,
H,
H.alt1,
H.alt2,
H.alt3,
H.alt4,
H.alt5,
H.alt6,
I,
I.alt1,
I.alt2,
I.alt3,
I.alt4,
I.alt5,
I.alt6,
J,
J.alt1,
J.alt2,
J.alt3,
J.alt4,
J.alt5,
J.alt6,
K,
K.alt1,
K.alt2,
K.alt3,
K.alt4,
K.alt5,
K.alt6,
L,
L.alt1,
L.alt2,
L.alt3,
L.alt4,
L.alt5,
L.alt6,
M,
M.alt1,
M.alt2,
M.alt3,
M.alt4,
M.alt5,
M.alt6,
N,
N.alt1,
N.alt2,
N.alt3,
N.alt4,
N.alt5,
N.alt6,
O,
O.alt1,
O.alt2,
O.alt3,
O.alt4,
O.alt5,
O.alt6,
P,
P.alt1,
P.alt2,
P.alt3,
P.alt4,
P.alt5,
P.alt6,
Q,
Q.alt1,
Q.alt2,
Q.alt3,
Q.alt4,
Q.alt5,
Q.alt6,
R,
R.alt1,
R.alt2,
R.alt3,
R.alt4,
R.alt5,
R.alt6,
S,
S.alt1,
S.alt2,
S.alt3,
S.alt4,
S.alt5,
S.alt6,
T,
T.alt1,
T.alt2,
T.alt3,
T.alt4,
T.alt5,
T.alt6,
U,
U.alt1,
U.alt2,
U.alt3,
U.alt4,
U.alt5,
U.alt6,
V,
V.alt1,
V.alt2,
V.alt3,
V.alt4,
V.alt5,
V.alt6,
W,
W.alt1,
W.alt2,
W.alt3,
W.alt4,
W.alt5,
W.alt6,
X,
X.alt1,
X.alt2,
X.alt3,
X.alt4,
X.alt5,
X.alt6,
Y,
Y.alt1,
Y.alt2,
Y.alt3,
Y.alt4,
Y.alt5,
Y.alt6,
Z,
Z.alt1,
Z.alt2,
Z.alt3,
Z.alt4,
Z.alt5,
Z.alt6,
AE,
AE.alt1,
AE.alt2,
AE.alt3,
AE.alt4,
AE.alt5,
AE.alt6,
Eth,
IJ,
IJ.alt1,
IJ.alt2,
IJ.alt3,
IJ.alt4,
IJ.alt5,
IJ.alt6,
Eng,
Eng.alt1,
Eng.alt2,
Eng.alt3,
OE,
OE.alt1,
OE.alt2,
OE.alt3,
OE.alt4,
OE.alt5,
OE.alt6,
Thorn,
Germandbls,
Germandbls.alt1,
Germandbls.alt2,
Germandbls.alt3,
Germandbls.alt4,
Germandbls.alt5,
Germandbls.alt6,
a,
a.alt1,
a.alt2,
a.alt3,
a.alt4,
a.alt5,
a.alt6,
b,
b.alt1,
b.alt2,
b.alt3,
b.alt4,
b.alt5,
b.alt6,
c,
c.alt1,
c.alt2,
c.alt3,
c.alt4,
c.alt5,
c.alt6,
d,
d.alt1,
d.alt2,
d.alt3,
d.alt4,
d.alt5,
d.alt6,
e,
e.alt1,
e.alt2,
e.alt3,
e.alt4,
e.alt5,
e.alt6,
f,
f.alt1,
f.alt2,
f.alt3,
f.alt4,
f.alt5,
f.alt6,
g,
g.alt1,
g.alt2,
g.alt3,
g.alt4,
g.alt5,
g.alt6,
h,
h.alt1,
h.alt2,
h.alt3,
h.alt4,
h.alt5,
h.alt6,
i,
i.alt1,
i.alt2,
i.alt3,
i.alt4,
i.alt5,
i.alt6,
j,
j.alt1,
j.alt2,
j.alt3,
j.alt4,
j.alt5,
j.alt6,
k,
k.alt1,
k.alt2,
k.alt3,
k.alt4,
k.alt5,
k.alt6,
l,
l.alt1,
l.alt2,
l.alt3,
l.alt4,
l.alt5,
l.alt6,
m,
m.alt1,
m.alt2,
m.alt3,
m.alt4,
m.alt5,
m.alt6,
n,
n.alt1,
n.alt2,
n.alt3,
n.alt4,
n.alt5,
n.alt6,
o,
o.alt1,
o.alt2,
o.alt3,
o.alt4,
o.alt5,
o.alt6,
p,
p.alt1,
p.alt2,
p.alt3,
p.alt4,
p.alt5,
p.alt6,
q,
q.alt1,
q.alt2,
q.alt3,
q.alt4,
q.alt5,
q.alt6,
r,
r.alt1,
r.alt2,
r.alt3,
r.alt4,
r.alt5,
r.alt6,
s,
s.alt1,
s.alt2,
s.alt3,
s.alt4,
s.alt5,
s.alt6,
t,
t.alt1,
t.alt2,
t.alt3,
t.alt4,
t.alt5,
t.alt6,
u,
u.alt1,
u.alt2,
u.alt3,
u.alt4,
u.alt5,
u.alt6,
v,
v.alt1,
v.alt2,
v.alt3,
v.alt4,
v.alt5,
v.alt6,
w,
w.alt1,
w.alt2,
w.alt3,
w.alt4,
w.alt5,
w.alt6,
x,
x.alt1,
x.alt2,
x.alt3,
x.alt4,
x.alt5,
x.alt6,
y,
y.alt1,
y.alt2,
y.alt3,
y.alt4,
y.alt5,
y.alt6,
z,
z.alt1,
z.alt2,
z.alt3,
z.alt4,
z.alt5,
z.alt6,
ae,
ae.alt1,
ae.alt2,
ae.alt3,
ae.alt4,
ae.alt5,
ae.alt6,
eth,
eth.alt1,
eth.alt2,
eth.alt3,
eth.alt4,
eth.alt5,
eth.alt6,
ij,
ij.alt1,
ij.alt2,
ij.alt3,
ij.alt4,
ij.alt5,
ij.alt6,
eng,
oe,
oe.alt1,
oe.alt2,
oe.alt3,
oe.alt4,
oe.alt5,
oe.alt6,
thorn,
germandbls,
germandbls.alt1,
germandbls.alt2,
germandbls.alt3,
germandbls.alt4,
germandbls.alt5,
germandbls.alt6,
idotless,
idotless.alt1,
idotless.alt2,
idotless.alt3,
idotless.alt4,
idotless.alt5,
idotless.alt6,
jdotless,
jdotless.alt1,
jdotless.alt2,
jdotless.alt3,
jdotless.alt4,
jdotless.alt5,
jdotless.alt6,
kgreenlandic,
longs,
G.ss01,
G.ss01.alt1,
G.ss01.alt2,
G.ss01.alt3,
G.ss01.alt4,
G.ss01.alt5,
G.ss01.alt6,
I.ss01,
I.ss01.alt1,
I.ss01.alt2,
I.ss01.alt3,
I.ss01.alt4,
I.ss01.alt5,
I.ss01.alt6,
M.ss01,
M.ss01.alt1,
M.ss01.alt2,
M.ss01.alt3,
M.ss01.alt4,
M.ss01.alt5,
M.ss01.alt6,
a.ss01,
a.ss01.alt1,
a.ss01.alt2,
a.ss01.alt3,
a.ss01.alt4,
a.ss01.alt5,
a.ss01.alt6,
f.ss01,
f.ss01.alt1,
f.ss01.alt2,
f.ss01.alt3,
f.ss01.alt4,
f.ss01.alt5,
f.ss01.alt6,
i.ss01,
i.ss01.alt1,
i.ss01.alt2,
i.ss01.alt3,
i.ss01.alt4,
i.ss01.alt5,
i.ss01.alt6,
l.ss01,
l.ss01.alt1,
l.ss01.alt2,
l.ss01.alt3,
l.ss01.alt4,
l.ss01.alt5,
l.ss01.alt6,
y.ss01,
y.ss01.alt1,
y.ss01.alt2,
y.ss01.alt3,
y.ss01.alt4,
y.ss01.alt5,
y.ss01.alt6,
zero,
zero.alt1,
zero.alt2,
zero.alt3,
zero.alt4,
zero.alt5,
zero.alt6,
one,
one.alt1,
one.alt2,
one.alt3,
one.alt4,
one.alt5,
one.alt6,
two,
two.alt1,
two.alt2,
two.alt3,
two.alt4,
two.alt5,
two.alt6,
three,
three.alt1,
three.alt2,
three.alt3,
three.alt4,
three.alt5,
three.alt6,
four,
four.alt1,
four.alt2,
four.alt3,
four.alt4,
four.alt5,
four.alt6,
five,
five.alt1,
five.alt2,
five.alt3,
five.alt4,
five.alt5,
five.alt6,
six,
six.alt1,
six.alt2,
six.alt3,
six.alt4,
six.alt5,
six.alt6,
seven,
seven.alt1,
seven.alt2,
seven.alt3,
seven.alt4,
seven.alt5,
seven.alt6,
eight,
eight.alt1,
eight.alt2,
eight.alt3,
eight.alt4,
eight.alt5,
eight.alt6,
nine,
nine.alt1,
nine.alt2,
nine.alt3,
nine.alt4,
nine.alt5,
nine.alt6,
dollar,
euro,
cent,
sterling,
yen,
florin,
liraTurkish,
dong,
naira,
bitcoin,
percent,
perthousand,
period,
period.alt1,
period.alt2,
period.alt3,
period.alt4,
period.alt5,
period.alt6,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclam.alt1,
exclam.alt2,
exclam.alt3,
exclam.alt4,
exclam.alt5,
exclam.alt6,
question,
question.alt1,
question.alt2,
question.alt3,
question.alt4,
question.alt5,
question.alt6,
exclamdown,
exclamdown.alt1,
exclamdown.alt2,
exclamdown.alt3,
exclamdown.alt4,
exclamdown.alt5,
exclamdown.alt6,
questiondown,
questiondown.alt1,
questiondown.alt2,
questiondown.alt3,
questiondown.alt4,
questiondown.alt5,
questiondown.alt6,
quotesingle,
quotedbl,
quoteleft,
quoteright,
quotesinglbase,
quotedblleft,
quotedblright,
quotedblbase,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
AEacute,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adotbelow,
Ahookabove,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
Dcaron,
Dcroat,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edotbelow,
Ehookabove,
Etilde,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Hbar,
Hcircumflex,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
Idotbelow,
Ihookabove,
IJacute,
IJacute.alt1,
IJacute.alt2,
IJacute.alt3,
IJacute.alt4,
IJacute.alt5,
IJacute.alt6,
Jcircumflex,
Kcommaaccent,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odotbelow,
Ohookabove,
Ohorn,
Ohorn.alt1,
Ohorn.alt2,
Ohorn.alt3,
Ohorn.alt4,
Ohorn.alt5,
Ohorn.alt6,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Racute,
Rcaron,
Rcommaaccent,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Uhookabove,
Uhorn,
Uhorn.alt1,
Uhorn.alt2,
Uhorn.alt3,
Uhorn.alt4,
Uhorn.alt5,
Uhorn.alt6,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ydotbelow,
Yhookabove,
Ytilde,
Zacute,
Zcaron,
Zdotaccent,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
aeacute,
agrave,
amacron,
aogonek,
aring,
atilde,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adotbelow,
ahookabove,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
dcaron,
dcaron.alt1,
dcaron.alt2,
dcaron.alt3,
dcaron.alt4,
dcaron.alt5,
dcaron.alt6,
dcroat,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edotbelow,
ehookabove,
etilde,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
hbar,
hcircumflex,
iacute,
ibreve,
icaron,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
idotbelow,
ihookabove,
ijacute,
ijacute.alt1,
ijacute.alt2,
ijacute.alt3,
ijacute.alt4,
ijacute.alt5,
ijacute.alt6,
jcircumflex,
kcommaaccent,
lacute,
lcaron,
lcaron.alt1,
lcaron.alt2,
lcaron.alt3,
lcaron.alt4,
lcaron.alt5,
lcaron.alt6,
lcommaaccent,
ldot,
ldot.alt1,
ldot.alt2,
ldot.alt3,
ldot.alt4,
ldot.alt5,
ldot.alt6,
lslash,
nacute,
ncaron,
ncommaaccent,
ntilde,
oacute,
obreve,
ocaron,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odotbelow,
ohookabove,
ohorn,
ohorn.alt1,
ohorn.alt2,
ohorn.alt3,
ohorn.alt4,
ohorn.alt5,
ohorn.alt6,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
racute,
rcaron,
rcommaaccent,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
tbar,
tcaron,
tcaron.alt1,
tcaron.alt2,
tcaron.alt3,
tcaron.alt4,
tcaron.alt5,
tcaron.alt6,
tcedilla,
tcommaaccent,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
uhookabove,
uhorn,
uhorn.alt1,
uhorn.alt2,
uhorn.alt3,
uhorn.alt4,
uhorn.alt5,
uhorn.alt6,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
wacute,
wcircumflex,
wdieresis,
wgrave,
yacute,
ycircumflex,
ydieresis,
ygrave,
ydotbelow,
yhookabove,
ytilde,
zacute,
zcaron,
zdotaccent,
lcaron.ss01,
lcaron.ss01.alt1,
lcaron.ss01.alt2,
lcaron.ss01.alt3,
lcaron.ss01.alt4,
lcaron.ss01.alt5,
lcaron.ss01.alt6,
ldot.ss01,
ldot.ss01.alt1,
ldot.ss01.alt2,
ldot.ss01.alt3,
ldot.ss01.alt4,
ldot.ss01.alt5,
ldot.ss01.alt6,
f_f,
fi,
fl,
f_f_i,
f_f_l,
t_t,
grave,
acute,
circumflex,
tilde,
macron,
firsttonechinese,
breve,
dotaccent,
dieresis,
ring,
hungarumlaut,
caron,
cedilla,
ogonek,
commaturnedmod,
caron.alt,
brevecomb_acutecomb.case,
brevecomb_gravecomb.case,
brevecomb_hookabovecomb.case,
brevecomb_tildecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_hookabovecomb.case,
circumflexcomb_tildecomb.case,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
hookabovecomb.case,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
gravecomb,
acutecomb,
circumflexcomb,
tildecomb,
macroncomb,
brevecomb,
dotaccentcomb,
dieresiscomb,
ringcomb,
hungarumlautcomb,
caroncomb,
commaturnedabovecomb,
ogonekcomb,
cedillacomb,
commaaccentcomb,
hookabovecomb,
horncomb,
dotbelowcomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
strokeshortcomb.case,
slashshortcomb.case,
slashlongcomb.case,
strokeshortcomb.narrow,
strokelongcomb.narrow,
strokeshortcomb.case.narrow,
strokeshortcomb.t,
apostrophemod,
degree,
minute,
second,
asterisk,
numbersign,
ampersand,
at,
parenleft,
parenright,
bracketleft,
bracketright,
braceleft,
braceright,
slash,
backslash,
bar,
brokenbar,
periodcentered,
bullet,
hyphen,
softhyphen,
endash,
emdash,
hyphen.case,
at.case,
exclamdown.case,
questiondown.case,
dagger,
daggerdbl,
section,
paragraph,
asciicircum,
asciitilde,
underscore,
copyright,
registered,
trademark,
numero,
currency,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
ordfeminine,
ordmasculine,
fraction,
onehalf,
onequarter,
threequarters,
partialdiff,
Ohm,
increment,
product,
summation,
micro,
divisionslash,
bulletoperator,
radical,
infinity,
integral,
approxequal,
notequal,
lessequal,
greaterequal,
less,
equal,
greater,
lozenge,
plus,
minus,
plusminus,
divide,
multiply,
logicalnot,
shootingStar,
birthdayCake,
artistPalette,
whiteUpBackhandIndex,
thumbsUpSign,
thumbsDownSign,
openBook,
cheeringMegaphone,
lowBattery,
unicornFace,
jigsawPuzzlePiece,
ringedPlanet,
pencil,
checkmark,
crossMark,
roundTarget,
tRex,
homework,
paperplane,
pencilbook,
sportsMedal,
suninlove,
sunpirate,
sunFace,
sunsad,
sunwink,
dottedCircle,
Delta,
Omega,
mu,
pi,
"invertedCandraBindu-deva",
"candraBindu-deva",
"candraBindu-deva.alt1",
"candraBindu-deva.alt2",
"candraBindu-deva.alt3",
"anusvara-deva",
"anusvara-deva.alt1",
"anusvara-deva.alt2",
"anusvara-deva.alt3",
"visarga-deva",
"aShort-deva",
"a-deva",
"a-deva.alt1",
"a-deva.alt2",
"a-deva.alt3",
"aa-deva",
"aa-deva.alt1",
"aa-deva.alt2",
"aa-deva.alt3",
"i-deva",
"i-deva.alt1",
"i-deva.alt2",
"i-deva.alt3",
"ii-deva",
"ii-deva.alt1",
"ii-deva.alt2",
"ii-deva.alt3",
"ii_anusvara-deva",
"ii_anusvara-deva.alt1",
"ii_anusvara-deva.alt2",
"ii_anusvara-deva.alt3",
"ii_candraBindu-deva",
"ii_candraBindu-deva.alt1",
"ii_candraBindu-deva.alt2",
"ii_candraBindu-deva.alt3",
"u-deva",
"u-deva.alt1",
"u-deva.alt2",
"u-deva.alt3",
"uu-deva",
"uu-deva.alt1",
"uu-deva.alt2",
"uu-deva.alt3",
"rVocalic-deva",
"rrVocalic-deva",
"lVocalic-deva",
"llVocalic-deva",
"eCandra-deva",
"eShort-deva",
"e-deva",
"e-deva.alt1",
"e-deva.alt2",
"e-deva.alt3",
"ai-deva",
"ai-deva.alt1",
"ai-deva.alt2",
"ai-deva.alt3",
"ai_anusvara-deva",
"ai_anusvara-deva.alt1",
"ai_anusvara-deva.alt2",
"ai_anusvara-deva.alt3",
"ai_candraBindu-deva",
"ai_candraBindu-deva.alt1",
"ai_candraBindu-deva.alt2",
"ai_candraBindu-deva.alt3",
"oCandra-deva",
"oShort-deva",
"o-deva",
"o-deva.alt1",
"o-deva.alt2",
"o-deva.alt3",
"o_anusvara-deva",
"o_anusvara-deva.alt1",
"o_anusvara-deva.alt2",
"o_anusvara-deva.alt3",
"o_candraBindu-deva",
"o_candraBindu-deva.alt1",
"o_candraBindu-deva.alt2",
"o_candraBindu-deva.alt3",
"au-deva",
"au-deva.alt1",
"au-deva.alt2",
"au-deva.alt3",
"au_anusvara-deva",
"au_anusvara-deva.alt1",
"au_anusvara-deva.alt2",
"au_anusvara-deva.alt3",
"au_candraBindu-deva",
"au_candraBindu-deva.alt1",
"au_candraBindu-deva.alt2",
"au_candraBindu-deva.alt3",
"oe-deva",
"ooe-deva",
"aw-deva",
"ue-deva",
"uue-deva",
"ka-deva",
"ka-deva.alt1",
"ka-deva.alt2",
"ka-deva.alt3",
"kha-deva",
"kha-deva.alt1",
"kha-deva.alt2",
"kha-deva.alt3",
"ga-deva",
"ga-deva.alt1",
"ga-deva.alt2",
"ga-deva.alt3",
"gha-deva",
"gha-deva.alt1",
"gha-deva.alt2",
"gha-deva.alt3",
"nga-deva",
"nga-deva.alt1",
"nga-deva.alt2",
"nga-deva.alt3",
"ca-deva",
"ca-deva.alt1",
"ca-deva.alt2",
"ca-deva.alt3",
"cha-deva",
"cha-deva.alt1",
"cha-deva.alt2",
"cha-deva.alt3",
"ja-deva",
"ja-deva.alt1",
"ja-deva.alt2",
"ja-deva.alt3",
"jha-deva",
"jha-deva.alt1",
"jha-deva.alt2",
"jha-deva.alt3",
"jha-deva.loclNEP",
"jha-deva.loclNEP.alt1",
"jha-deva.loclNEP.alt2",
"jha-deva.loclNEP.alt3",
"nya-deva",
"nya-deva.alt1",
"nya-deva.alt2",
"nya-deva.alt3",
"tta-deva",
"tta-deva.alt1",
"tta-deva.alt2",
"tta-deva.alt3",
"ttha-deva",
"ttha-deva.alt1",
"ttha-deva.alt2",
"ttha-deva.alt3",
"dda-deva",
"dda-deva.alt1",
"dda-deva.alt2",
"dda-deva.alt3",
"ddha-deva",
"ddha-deva.alt1",
"ddha-deva.alt2",
"ddha-deva.alt3",
"nna-deva",
"nna-deva.alt1",
"nna-deva.alt2",
"nna-deva.alt3",
"ta-deva",
"ta-deva.alt1",
"ta-deva.alt2",
"ta-deva.alt3",
"tha-deva",
"tha-deva.alt1",
"tha-deva.alt2",
"tha-deva.alt3",
"da-deva",
"da-deva.alt1",
"da-deva.alt2",
"da-deva.alt3",
"da_rVocalicMatra-deva",
"dha-deva",
"dha-deva.alt1",
"dha-deva.alt2",
"dha-deva.alt3",
"na-deva",
"na-deva.alt1",
"na-deva.alt2",
"na-deva.alt3",
"pa-deva",
"pa-deva.alt1",
"pa-deva.alt2",
"pa-deva.alt3",
"pha-deva",
"pha-deva.alt1",
"pha-deva.alt2",
"pha-deva.alt3",
"ba-deva",
"ba-deva.alt1",
"ba-deva.alt2",
"ba-deva.alt3",
"bha-deva",
"bha-deva.alt1",
"bha-deva.alt2",
"bha-deva.alt3",
"ma-deva",
"ma-deva.alt1",
"ma-deva.alt2",
"ma-deva.alt3",
"ya-deva",
"ya-deva.alt1",
"ya-deva.alt2",
"ya-deva.alt3",
"ra-deva",
"ra-deva.alt1",
"ra-deva.alt2",
"ra-deva.alt3",
"ra_uMatra-deva",
"ra_uuMatra-deva",
"ra_uMatra-deva.alt1",
"ra_uuMatra-deva.alt1",
"la-deva",
"la-deva.alt1",
"la-deva.alt2",
"la-deva.alt3",
"la-deva.loclMAR",
"la-deva.loclMAR.alt1",
"la-deva.loclMAR.alt2",
"la-deva.loclMAR.alt3",
"lla-deva",
"lla-deva.alt1",
"lla-deva.alt2",
"lla-deva.alt3",
"llla-deva",
"va-deva",
"va-deva.alt1",
"va-deva.alt2",
"va-deva.alt3",
"sha-deva",
"sha-deva.alt1",
"sha-deva.alt2",
"sha-deva.alt3",
"sha-deva.loclMAR",
"sha-deva.loclMAR.alt1",
"sha-deva.loclMAR.alt2",
"sha-deva.loclMAR.alt3",
"ssa-deva",
"ssa-deva.alt1",
"ssa-deva.alt2",
"ssa-deva.alt3",
"sa-deva",
"sa-deva.alt1",
"sa-deva.alt2",
"sa-deva.alt3",
"ha-deva",
"ha-deva.alt1",
"ha-deva.alt2",
"ha-deva.alt3",
"ha_rVocalicMatra-deva",
"qa-deva",
"qa-deva.alt1",
"qa-deva.alt2",
"qa-deva.alt3",
"khha-deva",
"khha-deva.alt1",
"khha-deva.alt2",
"khha-deva.alt3",
"ghha-deva",
"ghha-deva.alt1",
"ghha-deva.alt2",
"ghha-deva.alt3",
"za-deva",
"za-deva.alt1",
"za-deva.alt2",
"za-deva.alt3",
"dddha-deva",
"dddha-deva.alt1",
"dddha-deva.alt2",
"dddha-deva.alt3",
"rha-deva",
"rha-deva.alt1",
"rha-deva.alt2",
"rha-deva.alt3",
"nnna-deva",
"nnna-deva.alt1",
"nnna-deva.alt2",
"nnna-deva.alt3",
"fa-deva",
"fa-deva.alt1",
"fa-deva.alt2",
"fa-deva.alt3",
"rra-deva",
"rra-deva.alt1",
"rra-deva.alt2",
"rra-deva.alt3",
"yya-deva",
"yya-deva.alt1",
"yya-deva.alt2",
"yya-deva.alt3",
"gga-deva",
"jja-deva",
"ddda-deva",
"bba-deva",
"ddaMarwari-deva",
"zha-deva",
"jjya-deva",
"oeMatra-deva",
"ooeMatra-deva",
"nukta-deva",
"avagraha-deva",
"aaMatra-deva",
"aaMatra-deva.alt1",
"aaMatra-deva.alt2",
"aaMatra-deva.alt3",
"iMatra-deva",
"iMatra_anusvara-deva",
"iMatra_candraBindu-deva",
"iMatra_reph-deva",
"iMatra_reph_anusvara-deva",
"iMatra_reph_candraBindu-deva",
"iiMatra-deva",
"iiMatra-deva.alt1",
"iiMatra-deva.alt2",
"iiMatra-deva.alt3",
"uMatra-deva",
"uMatra-deva.alt",
"uMatra-deva.alt1",
"uMatra-deva.alt2",
"uMatra-deva.alt3",
"uuMatra-deva",
"uuMatra-deva.alt1",
"uuMatra-deva.alt2",
"uuMatra-deva.alt3",
"rVocalicMatra-deva",
"rrVocalicMatra-deva",
"lVocalicMatra-deva",
"llVocalicMatra-deva",
"eCandraMatra-deva",
"eShortMatra-deva",
"eMatra-deva",
"eMatra-deva.alt1",
"eMatra-deva.alt2",
"eMatra-deva.alt3",
"eMatra_reph-deva",
"eMatra_reph-deva.alt1",
"eMatra_reph-deva.alt2",
"eMatra_reph-deva.alt3",
"eMatra_anusvara-deva",
"eMatra_anusvara-deva.alt1",
"eMatra_anusvara-deva.alt2",
"eMatra_anusvara-deva.alt3",
"eMatra_candraBindu-deva",
"eMatra_candraBindu-deva.alt1",
"eMatra_candraBindu-deva.alt2",
"eMatra_candraBindu-deva.alt3",
"eMatra_reph_anusvara-deva",
"eMatra_reph_anusvara-deva.alt1",
"eMatra_reph_anusvara-deva.alt2",
"eMatra_reph_anusvara-deva.alt3",
"eMatra_reph_candraBindu-deva",
"eMatra_reph_candraBindu-deva.alt1",
"eMatra_reph_candraBindu-deva.alt2",
"eMatra_reph_candraBindu-deva.alt3",
"aiMatra-deva",
"aiMatra-deva.alt1",
"aiMatra-deva.alt2",
"aiMatra-deva.alt3",
"aiMatra_reph-deva",
"aiMatra_reph-deva.alt1",
"aiMatra_reph-deva.alt2",
"aiMatra_reph-deva.alt3",
"aiMatra_anusvara-deva",
"aiMatra_anusvara-deva.alt1",
"aiMatra_anusvara-deva.alt2",
"aiMatra_anusvara-deva.alt3",
"aiMatra_candraBindu-deva",
"aiMatra_candraBindu-deva.alt1",
"aiMatra_candraBindu-deva.alt2",
"aiMatra_candraBindu-deva.alt3",
"aiMatra_reph_anusvara-deva",
"aiMatra_reph_anusvara-deva.alt1",
"aiMatra_reph_anusvara-deva.alt2",
"aiMatra_reph_anusvara-deva.alt3",
"aiMatra_reph_candraBindu-deva",
"aiMatra_reph_candraBindu-deva.alt1",
"aiMatra_reph_candraBindu-deva.alt2",
"aiMatra_reph_candraBindu-deva.alt3",
"oCandraMatra-deva",
"oShortMatra-deva",
"oMatra-deva",
"oMatra-deva.alt1",
"oMatra-deva.alt2",
"oMatra-deva.alt3",
"oMatra_reph-deva",
"oMatra_reph-deva.alt1",
"oMatra_reph-deva.alt2",
"oMatra_reph-deva.alt3",
"oMatra_anusvara-deva",
"oMatra_anusvara-deva.alt1",
"oMatra_anusvara-deva.alt2",
"oMatra_anusvara-deva.alt3",
"oMatra_candraBindu-deva",
"oMatra_candraBindu-deva.alt1",
"oMatra_candraBindu-deva.alt2",
"oMatra_candraBindu-deva.alt3",
"oMatra_reph_anusvara-deva",
"oMatra_reph_anusvara-deva.alt1",
"oMatra_reph_anusvara-deva.alt2",
"oMatra_reph_anusvara-deva.alt3",
"oMatra_reph_candraBindu-deva",
"oMatra_reph_candraBindu-deva.alt1",
"oMatra_reph_candraBindu-deva.alt2",
"oMatra_reph_candraBindu-deva.alt3",
"auMatra-deva",
"auMatra-deva.alt1",
"auMatra-deva.alt2",
"auMatra-deva.alt3",
"auMatra_reph-deva",
"auMatra_reph-deva.alt1",
"auMatra_reph-deva.alt2",
"auMatra_reph-deva.alt3",
"auMatra_anusvara-deva",
"auMatra_anusvara-deva.alt1",
"auMatra_anusvara-deva.alt2",
"auMatra_anusvara-deva.alt3",
"auMatra_candraBindu-deva",
"auMatra_candraBindu-deva.alt1",
"auMatra_candraBindu-deva.alt2",
"auMatra_candraBindu-deva.alt3",
"auMatra_reph_anusvara-deva",
"auMatra_reph_anusvara-deva.alt1",
"auMatra_reph_anusvara-deva.alt2",
"auMatra_reph_anusvara-deva.alt3",
"auMatra_reph_candraBindu-deva",
"auMatra_reph_candraBindu-deva.alt1",
"auMatra_reph_candraBindu-deva.alt2",
"auMatra_reph_candraBindu-deva.alt3",
"halant-deva",
"prishthaMatraE-deva",
"awMatra-deva",
"iMatra-deva.w1",
"iMatra_anusvara-deva.w1",
"iMatra_candraBindu-deva.w1",
"iMatra_reph-deva.w1",
"iMatra_reph_anusvara-deva.w1",
"iMatra_reph_candraBindu-deva.w1",
"iMatra-deva.w2",
"iMatra_anusvara-deva.w2",
"iMatra_candraBindu-deva.w2",
"iMatra_reph-deva.w2",
"iMatra_reph_anusvara-deva.w2",
"iMatra_reph_candraBindu-deva.w2",
"iMatra-deva.w3",
"iMatra_anusvara-deva.w3",
"iMatra_candraBindu-deva.w3",
"iMatra_reph-deva.w3",
"iMatra_reph_anusvara-deva.w3",
"iMatra_reph_candraBindu-deva.w3",
"iMatra-deva.w4",
"iMatra_anusvara-deva.w4",
"iMatra_candraBindu-deva.w4",
"iMatra_reph-deva.w4",
"iMatra_reph_anusvara-deva.w4",
"iMatra_reph_candraBindu-deva.w4",
"iMatra-deva.w5",
"iMatra_anusvara-deva.w5",
"iMatra_candraBindu-deva.w5",
"iMatra_reph-deva.w5",
"iMatra_reph_anusvara-deva.w5",
"iMatra_reph_candraBindu-deva.w5",
"iMatra-deva.w6",
"iMatra_anusvara-deva.w6",
"iMatra_candraBindu-deva.w6",
"iMatra_reph-deva.w6",
"iMatra_reph_anusvara-deva.w6",
"iMatra_reph_candraBindu-deva.w6",
"iMatra-deva.w7",
"iMatra_anusvara-deva.w7",
"iMatra_candraBindu-deva.w7",
"iMatra_reph-deva.w7",
"iMatra_reph_anusvara-deva.w7",
"iMatra_reph_candraBindu-deva.w7",
"iMatra-deva.w8",
"iMatra_anusvara-deva.w8",
"iMatra_candraBindu-deva.w8",
"iMatra_reph-deva.w8",
"iMatra_reph_anusvara-deva.w8",
"iMatra_reph_candraBindu-deva.w8",
"iMatra-deva.w9",
"iMatra_anusvara-deva.w9",
"iMatra_candraBindu-deva.w9",
"iMatra_reph-deva.w9",
"iMatra_reph_anusvara-deva.w9",
"iMatra_reph_candraBindu-deva.w9",
"iMatra-deva.w10",
"iMatra_anusvara-deva.w10",
"iMatra_candraBindu-deva.w10",
"iMatra_reph-deva.w10",
"iMatra_reph_anusvara-deva.w10",
"iMatra_reph_candraBindu-deva.w10",
"iMatra-deva.w11",
"iMatra_anusvara-deva.w11",
"iMatra_candraBindu-deva.w11",
"iMatra_reph-deva.w11",
"iMatra_reph_anusvara-deva.w11",
"iMatra_reph_candraBindu-deva.w11",
"iMatra-deva.w12",
"iMatra_anusvara-deva.w12",
"iMatra_candraBindu-deva.w12",
"iMatra_reph-deva.w12",
"iMatra_reph_anusvara-deva.w12",
"iMatra_reph_candraBindu-deva.w12",
"iMatra-deva.w13",
"iMatra_anusvara-deva.w13",
"iMatra_candraBindu-deva.w13",
"iMatra_reph-deva.w13",
"iMatra_reph_anusvara-deva.w13",
"iMatra_reph_candraBindu-deva.w13",
"iMatra-deva.w14",
"iMatra_anusvara-deva.w14",
"iMatra_candraBindu-deva.w14",
"iMatra_reph-deva.w14",
"iMatra_reph_anusvara-deva.w14",
"iMatra_reph_candraBindu-deva.w14",
"iMatra-deva.w15",
"iMatra_anusvara-deva.w15",
"iMatra_candraBindu-deva.w15",
"iMatra_reph-deva.w15",
"iMatra_reph_anusvara-deva.w15",
"iMatra_reph_candraBindu-deva.w15",
"iMatra-deva.w16",
"iMatra_anusvara-deva.w16",
"iMatra_candraBindu-deva.w16",
"iMatra_reph-deva.w16",
"iMatra_reph_anusvara-deva.w16",
"iMatra_reph_candraBindu-deva.w16",
"iiMatra-deva.w1",
"iiMatra-deva.w1.alt1",
"iiMatra-deva.w1.alt2",
"iiMatra-deva.w1.alt3",
"iiMatra-deva.w2",
"iiMatra-deva.w2.alt1",
"iiMatra-deva.w2.alt2",
"iiMatra-deva.w2.alt3",
"iiMatra_candraBindu-deva",
"iiMatra_anusvara-deva",
"iiMatra_reph-deva",
"iiMatra_reph_candraBindu-deva",
"iiMatra_reph_anusvara-deva",
"iiMatra_candraBindu-deva.alt1",
"iiMatra_anusvara-deva.alt1",
"iiMatra_reph-deva.alt1",
"iiMatra_reph_candraBindu-deva.alt1",
"iiMatra_reph_anusvara-deva.alt1",
"iiMatra_candraBindu-deva.alt2",
"iiMatra_anusvara-deva.alt2",
"iiMatra_reph-deva.alt2",
"iiMatra_reph_candraBindu-deva.alt2",
"iiMatra_reph_anusvara-deva.alt2",
"iiMatra_candraBindu-deva.alt3",
"iiMatra_anusvara-deva.alt3",
"iiMatra_reph-deva.alt3",
"iiMatra_reph_candraBindu-deva.alt3",
"iiMatra_reph_anusvara-deva.alt3",
"iiMatra_candraBindu-deva.w1",
"iiMatra_anusvara-deva.w1",
"iiMatra_reph-deva.w1",
"iiMatra_reph_candraBindu-deva.w1",
"iiMatra_reph_anusvara-deva.w1",
"iiMatra_candraBindu-deva.w1.alt1",
"iiMatra_anusvara-deva.w1.alt1",
"iiMatra_reph-deva.w1.alt1",
"iiMatra_reph_candraBindu-deva.w1.alt1",
"iiMatra_reph_anusvara-deva.w1.alt1",
"iiMatra_candraBindu-deva.w1.alt2",
"iiMatra_anusvara-deva.w1.alt2",
"iiMatra_reph-deva.w1.alt2",
"iiMatra_reph_candraBindu-deva.w1.alt2",
"iiMatra_reph_anusvara-deva.w1.alt2",
"iiMatra_candraBindu-deva.w1.alt3",
"iiMatra_anusvara-deva.w1.alt3",
"iiMatra_reph-deva.w1.alt3",
"iiMatra_reph_candraBindu-deva.w1.alt3",
"iiMatra_reph_anusvara-deva.w1.alt3",
"iiMatra_candraBindu-deva.w2",
"iiMatra_anusvara-deva.w2",
"iiMatra_reph-deva.w2",
"iiMatra_reph_candraBindu-deva.w2",
"iiMatra_reph_anusvara-deva.w2",
"iiMatra_candraBindu-deva.w2.alt1",
"iiMatra_anusvara-deva.w2.alt1",
"iiMatra_reph-deva.w2.alt1",
"iiMatra_reph_candraBindu-deva.w2.alt1",
"iiMatra_reph_anusvara-deva.w2.alt1",
"iiMatra_candraBindu-deva.w2.alt2",
"iiMatra_anusvara-deva.w2.alt2",
"iiMatra_reph-deva.w2.alt2",
"iiMatra_reph_candraBindu-deva.w2.alt2",
"iiMatra_reph_anusvara-deva.w2.alt2",
"iiMatra_candraBindu-deva.w2.alt3",
"iiMatra_anusvara-deva.w2.alt3",
"iiMatra_reph-deva.w2.alt3",
"iiMatra_reph_candraBindu-deva.w2.alt3",
"iiMatra_reph_anusvara-deva.w2.alt3",
"eLongCandra-deva",
"ueMatra-deva",
"uueMatra-deva",
"udatta-deva",
"anudatta-deva",
"grave-deva",
"acute-deva",
"k-deva",
"k-deva.alt1",
"k-deva.alt2",
"k-deva.alt3",
"kh-deva",
"kh-deva.alt1",
"kh-deva.alt2",
"kh-deva.alt3",
"g-deva",
"g-deva.alt1",
"g-deva.alt2",
"g-deva.alt3",
"gh-deva",
"gh-deva.alt1",
"gh-deva.alt2",
"gh-deva.alt3",
"ng-deva",
"ng-deva.alt1",
"ng-deva.alt2",
"ng-deva.alt3",
"c-deva",
"c-deva.alt1",
"c-deva.alt2",
"c-deva.alt3",
"ch-deva",
"ch-deva.alt1",
"ch-deva.alt2",
"ch-deva.alt3",
"j-deva",
"j-deva.alt1",
"j-deva.alt2",
"j-deva.alt3",
"jh-deva",
"jh-deva.alt1",
"jh-deva.alt2",
"jh-deva.alt3",
"jh-deva.loclNEP",
"jh-deva.loclNEP.alt1",
"jh-deva.loclNEP.alt2",
"jh-deva.loclNEP.alt3",
"ny-deva",
"ny-deva.alt1",
"ny-deva.alt2",
"ny-deva.alt3",
"tt-deva",
"tt-deva.alt1",
"tt-deva.alt2",
"tt-deva.alt3",
"tth-deva",
"tth-deva.alt1",
"tth-deva.alt2",
"tth-deva.alt3",
"dd-deva",
"dd-deva.alt1",
"dd-deva.alt2",
"dd-deva.alt3",
"ddh-deva",
"ddh-deva.alt1",
"ddh-deva.alt2",
"ddh-deva.alt3",
"nn-deva",
"nn-deva.alt1",
"nn-deva.alt2",
"nn-deva.alt3",
"t-deva",
"t-deva.alt1",
"t-deva.alt2",
"t-deva.alt3",
"th-deva",
"th-deva.alt1",
"th-deva.alt2",
"th-deva.alt3",
"d-deva",
"d-deva.alt1",
"d-deva.alt2",
"d-deva.alt3",
"dh-deva",
"dh-deva.alt1",
"dh-deva.alt2",
"dh-deva.alt3",
"n-deva",
"n-deva.alt1",
"n-deva.alt2",
"n-deva.alt3",
"p-deva",
"p-deva.alt1",
"p-deva.alt2",
"p-deva.alt3",
"ph-deva",
"ph-deva.alt1",
"ph-deva.alt2",
"ph-deva.alt3",
"b-deva",
"b-deva.alt1",
"b-deva.alt2",
"b-deva.alt3",
"bh-deva",
"bh-deva.alt1",
"bh-deva.alt2",
"bh-deva.alt3",
"m-deva",
"m-deva.alt1",
"m-deva.alt2",
"m-deva.alt3",
"y-deva",
"y-deva.alt1",
"y-deva.alt2",
"y-deva.alt3",
"reph-deva",
"reph-deva.alt1",
"reph_anusvara-deva",
"reph_candraBindu-deva",
"l-deva",
"l-deva.alt1",
"l-deva.alt2",
"l-deva.alt3",
"ll-deva",
"ll-deva.alt1",
"ll-deva.alt2",
"ll-deva.alt3",
"lll-deva",
"v-deva",
"v-deva.alt1",
"v-deva.alt2",
"v-deva.alt3",
"sh-deva",
"sh-deva.alt1",
"sh-deva.alt2",
"sh-deva.alt3",
"sh-deva.loclMAR",
"sh-deva.loclMAR.alt1",
"sh-deva.loclMAR.alt2",
"sh-deva.loclMAR.alt3",
"ss-deva",
"ss-deva.alt1",
"ss-deva.alt2",
"ss-deva.alt3",
"s-deva",
"s-deva.alt1",
"s-deva.alt2",
"s-deva.alt3",
"h-deva",
"h-deva.alt1",
"h-deva.alt2",
"h-deva.alt3",
"q-deva",
"q-deva.alt1",
"q-deva.alt2",
"q-deva.alt3",
"khh-deva",
"khh-deva.alt1",
"khh-deva.alt2",
"khh-deva.alt3",
"ghh-deva",
"ghh-deva.alt1",
"ghh-deva.alt2",
"ghh-deva.alt3",
"z-deva",
"z-deva.alt1",
"z-deva.alt2",
"z-deva.alt3",
"dddh-deva",
"dddh-deva.alt1",
"dddh-deva.alt2",
"dddh-deva.alt3",
"rh-deva",
"rh-deva.alt1",
"rh-deva.alt2",
"rh-deva.alt3",
"nnn-deva",
"nnn-deva.alt1",
"nnn-deva.alt2",
"nnn-deva.alt3",
"f-deva",
"f-deva.alt1",
"f-deva.alt2",
"f-deva.alt3",
"rr-deva",
"yy-deva",
"yy-deva.alt1",
"yy-deva.alt2",
"yy-deva.alt3",
"k_ka-deva",
"k_ka-deva.alt1",
"k_kha-deva",
"k_kha-deva.alt1",
"k_ca-deva",
"k_ja-deva",
"k_tta-deva",
"k_nna-deva",
"k_ta-deva",
"k_ta-deva.alt1",
"k_t_ta-deva",
"k_t_ya-deva",
"k_t_ra-deva",
"k_t_va-deva",
"k_tha-deva",
"k_da-deva",
"k_na-deva",
"k_pa-deva",
"k_pha-deva",
"k_ma-deva",
"k_ya-deva",
"k_ya-deva.alt1",
"k_ra-deva",
"k_ra-deva.alt1",
"k_la-deva",
"k_la-deva.alt1",
"k_la-deva.loclMAR",
"k_la-deva.loclMAR.alt1",
"k_va-deva",
"k_va-deva.alt1",
"k_v_ya-deva",
"k_sha-deva",
"k_sha-deva.alt1",
"k_sha-deva.loclMAR",
"k_sha-deva.loclMAR.alt1",
"k_ssa-deva",
"k_ssa-deva.alt1",
"k_ss-deva",
"k_ss_ma-deva",
"k_ss_ma-deva.alt1",
"k_ss_ya-deva",
"k_ss_ra-deva",
"k_ss_va-deva",
"k_sa-deva",
"k_sa-deva.alt1",
"k_s_tta-deva",
"k_s_dda-deva",
"k_s_ta-deva",
"k_s_pa-deva",
"k_s_p_ra-deva",
"k_s_p_la-deva",
"k_s_p_la-deva.loclMAR",
"kh_kha-deva",
"kh_kha-deva.alt1",
"kh_ta-deva",
"kh_na-deva",
"kh_ma-deva",
"kh_ya-deva",
"kh_ya-deva.alt1",
"kh_ra-deva",
"kh_va-deva",
"kh_sha-deva",
"kh_sha-deva.loclMAR",
"g_ga-deva",
"g_gha-deva",
"g_ja-deva",
"g_nna-deva",
"g_da-deva",
"g_da-deva.alt1",
"g_dha-deva",
"g_dh_ya-deva",
"g_dh_va-deva",
"g_na-deva",
"g_na-deva.alt1",
"g_n_ya-deva",
"g_ba-deva",
"g_bha-deva",
"g_bh_ya-deva",
"g_ma-deva",
"g_ya-deva",
"g_ra-deva",
"g_ra-deva.alt1",
"g_rakar_ya-deva",
"g_la-deva",
"g_la-deva.alt1",
"g_la-deva.loclMAR",
"g_la-deva.loclMAR.alt1",
"g_va-deva",
"g_va-deva.alt1",
"g_sa-deva",
"gh_na-deva",
"gh_ma-deva",
"gh_ya-deva",
"gh_ra-deva",
"gh_ra-deva.alt1",
"ng_ka-deva",
"ng_k_ra-deva",
"ng_k_ta-deva",
"ng_ga-deva",
"ng_g_ra-deva",
"ng_kha-deva",
"ng_gha-deva",
"ng_gh_ra-deva",
"ng_ma-deva",
"ng_ya-deva",
"ng_ra-deva",
"c_ca-deva",
"c_ca-deva.alt1",
"c_cha-deva",
"c_cha-deva.alt1",
"c_ch_va-deva",
"c_na-deva",
"c_ma-deva",
"c_ya-deva",
"c_ra-deva",
"ch_na-deva",
"ch_ya-deva",
"ch_ra-deva",
"ch_va-deva",
"j_ka-deva",
"j_ja-deva",
"j_j_nya-deva",
"j_j_ya-deva",
"j_j_va-deva",
"j_jha-deva",
"j_jha-deva.loclNEP",
"j_nya-deva",
"j_ny-deva",
"j_ny_ya-deva",
"j_tta-deva",
"j_dda-deva",
"j_ta-deva",
"j_da-deva",
"j_na-deva",
"j_ba-deva",
"j_ma-deva",
"j_ya-deva",
"j_va-deva",
"j_ra-deva",
"j_ra-deva.alt1",
"jh_jha-deva",
"jh_jha-deva.loclNEP",
"jh_na-deva",
"jh_na-deva.loclNEP",
"jh_ma-deva",
"jh_ma-deva.loclNEP",
"jh_ya-deva",
"jh_ya-deva.loclNEP",
"ny_ca-deva",
"ny_cha-deva",
"ny_ja-deva",
"ny_sha-deva",
"ny_sha-deva.loclMAR",
"tt_tta-deva",
"tt_tta-deva.alt1",
"tt_ttha-deva",
"tt_ttha-deva.alt1",
"tt_ra-deva",
"tt_ra-deva.alt1",
"tt_ya-deva",
"tt_va-deva",
"tth_ttha-deva",
"tth_ya-deva",
"tth_ra-deva",
"dd_dda-deva",
"dd_dda-deva.alt1",
"dd_dd_ya-deva",
"dd_ra-deva",
"dd_ra-deva.alt1",
"dd_ddha-deva",
"dd_ya-deva",
"ddh_ddha-deva",
"ddh_ya-deva",
"ddh_ra-deva",
"nn_tta-deva",
"nn_tta-deva.alt1",
"nn_ttha-deva",
"nn_ttha-deva.alt1",
"nn_dda-deva",
"nn_ddha-deva",
"nn_nna-deva",
"nn_ma-deva",
"nn_ya-deva",
"nn_ra-deva",
"nn_va-deva",
"t_ka-deva",
"t_ka-deva.alt1",
"t_k_ya-deva",
"t_k_ra-deva",
"t_k_va-deva",
"t_k_ssa-deva",
"t_kha-deva",
"t_kh_na-deva",
"t_kh_ra-deva",
"t_t-deva",
"t_t_ya-deva",
"t_t_va-deva",
"t_ta-deva",
"t_ta-deva.alt1",
"t_tha-deva",
"t_tha-deva.alt1",
"t_na-deva",
"t_na-deva.alt1",
"t_n_ya-deva",
"t_pa-deva",
"t_p_ra-deva",
"t_p_la-deva",
"t_p_la-deva.loclMAR",
"t_pha-deva",
"t_ma-deva",
"t_ma-deva.alt1",
"t_m_ya-deva",
"t_ya-deva",
"t_ya-deva.alt1",
"t_ra-deva",
"t_ra-deva.alt1",
"t_rakar_ya-deva",
"t_la-deva",
"t_la-deva.loclMAR",
"t_va-deva",
"t_va-deva.alt1",
"t_sa-deva",
"t_sa-deva.alt1",
"t_s_na-deva",
"t_s_ya-deva",
"t_s_va-deva",
"th_na-deva",
"th_ya-deva",
"th_ra-deva",
"th_va-deva",
"d_ga-deva",
"d_ga-deva.alt1",
"d_gha-deva",
"d_da-deva",
"d_da-deva.alt1",
"d_d_ya-deva",
"d_dha-deva",
"d_dh_ya-deva",
"d_dha-deva.alt1",
"d_na-deva",
"d_ba-deva",
"d_bha-deva",
"d_bha-deva.alt1",
"d_bh_ya-deva",
"d_ma-deva",
"d_ma-deva.alt1",
"d_ya-deva",
"d_ya-deva.alt1",
"d_ra-deva",
"d_ra-deva.alt1",
"d_rakar_ya-deva",
"d_va-deva",
"d_va-deva.alt1",
"dh_na-deva",
"dh_n_va-deva",
"dh_ma-deva",
"dh_ya-deva",
"dh_ya-deva.alt1",
"dh_ra-deva",
"dh_va-deva",
"dh_va-deva.alt1",
"n_ka-deva",
"n_k_sa-deva",
"n_ca-deva",
"n_tta-deva",
"n_dda-deva",
"n_ta-deva",
"n_ta-deva.alt1",
"n_t_ra-deva",
"n_t_sa-deva",
"n_t_ya-deva",
"n_tha-deva",
"n_th_ya-deva",
"n_th_va-deva",
"n_da-deva",
"n_da-deva.alt1",
"n_d_ra-deva",
"n_d_ra-deva.alt1",
"n_d_va-deva",
"n_dha-deva",
"n_dh_ya-deva",
"n_dh_ra-deva",
"n_dh_va-deva",
"n_na-deva",
"n_na-deva.alt1",
"n_n_ya-deva",
"n_pa-deva",
"n_p_ra-deva",
"n_pha-deva",
"n_bha-deva",
"n_ma-deva",
"n_m_ya-deva",
"n_ya-deva",
"n_ya-deva.alt1",
"n_ra-deva",
"n_va-deva",
"n_sa-deva",
"n_s_tta-deva",
"n_ha-deva",
"n_ha-deva.alt1",
"n_h_ya-deva",
"p_tta-deva",
"p_ta-deva",
"p_ta-deva.alt1",
"p_t_ya-deva",
"p_na-deva",
"p_na-deva.alt1",
"p_pa-deva",
"p_pa-deva.alt1",
"p_pha-deva",
"p_ma-deva",
"p_ya-deva",
"p_ya-deva.alt1",
"p_ra-deva",
"p_ra-deva.alt1",
"p_la-deva",
"p_la-deva.alt1",
"p_la-deva.loclMAR",
"p_la-deva.loclMAR.alt1",
"p_va-deva",
"p_sa-deva",
"ph_ja-deva",
"ph_tta-deva",
"ph_ta-deva",
"ph_na-deva",
"ph_pa-deva",
"ph_pha-deva",
"ph_ya-deva",
"ph_ra-deva",
"ph_la-deva",
"ph_la-deva.loclMAR",
"ph_sha-deva",
"ph_sha-deva.loclMAR",
"b_ja-deva",
"b_ja-deva.alt1",
"b_j_ya-deva",
"b_ta-deva",
"b_da-deva",
"b_da-deva.alt1",
"b_dha-deva",
"b_dha-deva.alt1",
"b_dh_va-deva",
"b_na-deva",
"b_ba-deva",
"b_bha-deva",
"b_bh_ra-deva",
"b_ya-deva",
"b_ra-deva",
"b_ra-deva.alt1",
"b_la-deva",
"b_la-deva.loclMAR",
"b_l_ya-deva",
"b_va-deva",
"b_sha-deva",
"b_sha-deva.loclMAR",
"b_sa-deva",
"b_za-deva",
"bh_na-deva",
"bh_ya-deva",
"bh_ya-deva.alt1",
"bh_ra-deva",
"bh_ra-deva.alt1",
"bh_va-deva",
"bh_rakar_ya-deva",
"m_ta-deva",
"m_da-deva",
"m_na-deva",
"m_na-deva.alt1",
"m_pa-deva",
"m_p_ra-deva",
"m_pha-deva",
"m_ba-deva",
"m_b_ya-deva",
"m_b_ra-deva",
"m_bha-deva",
"m_bh_ra-deva",
"m_ma-deva",
"m_ya-deva",
"m_ra-deva",
"m_ra-deva.alt1",
"m_la-deva",
"m_la-deva.loclMAR",
"m_va-deva",
"m_sha-deva",
"m_sha-deva.loclMAR",
"m_sa-deva",
"m_ha-deva",
"y_na-deva",
"y_ya-deva",
"y_ra-deva",
"l_ka-deva",
"l_k_ya-deva",
"l_kha-deva",
"l_ga-deva",
"l_ja-deva",
"l_tta-deva",
"l_ttha-deva",
"l_dda-deva",
"l_ddha-deva",
"l_ta-deva",
"l_tha-deva",
"l_th_ya-deva",
"l_da-deva",
"l_d_ra-deva",
"l_pa-deva",
"l_pha-deva",
"l_ba-deva",
"l_bha-deva",
"l_ma-deva",
"l_ma-deva.alt1",
"l_ya-deva",
"l_ra-deva",
"l_la-deva",
"l_la-deva.loclMAR",
"l_l_ya-deva",
"l_va-deva",
"l_v_dda-deva",
"l_sha-deva",
"l_sha-deva.loclMAR",
"l_sa-deva",
"l_ha-deva",
"l_h_ya-deva",
"l_za-deva",
"l_fa-deva",
"ll_ya-deva",
"ll_ra-deva",
"v_na-deva",
"v_ya-deva",
"v_ra-deva",
"v_ra-deva.alt1",
"v_la-deva",
"v_la-deva.loclMAR",
"v_va-deva",
"v_ha-deva",
"sh_ka-deva",
"sh_ka-deva.alt1",
"sh_ka-deva.loclMAR",
"sh_ka-deva.loclMAR.alt1",
"sh_ca-deva",
"sh_ca-deva.alt1",
"sh_ca-deva.loclMAR",
"sh_ca-deva.loclMAR.alt1",
"sh_cha-deva",
"sh_cha-deva.loclMAR",
"sh_tta-deva",
"sh_tta-deva.loclMAR",
"sh_ta-deva",
"sh_ta-deva.loclMAR",
"sh_na-deva",
"sh_na-deva.loclMAR",
"sh_ma-deva",
"sh_ma-deva.loclMAR",
"sh_ya-deva",
"sh_ya-deva.alt1",
"sh_ya-deva.loclMAR",
"sh_ya-deva.loclMAR.alt1",
"sh_ra-deva",
"sh_ra-deva.alt1",
"sh_rakar_ya-deva",
"sh_la-deva",
"sh_la-deva.loclMAR",
"sh_va-deva",
"sh_va-deva.alt1",
"sh_va-deva.loclMAR",
"sh_va-deva.loclMAR.alt1",
"sh_sha-deva",
"sh_sha-deva.loclMAR",
"sh_qa-deva",
"ss_ka-deva",
"ss_k_ra-deva",
"ss_tta-deva",
"ss_tta-deva.alt1",
"ss_tt_ra-deva",
"ss_tt_ra-deva.alt1",
"ss_tt_ya-deva",
"ss_tt_va-deva",
"ss_ttha-deva",
"ss_tth_ya-deva",
"ss_nna-deva",
"ss_nna-deva.alt1",
"ss_nn_ya-deva",
"ss_pa-deva",
"ss_p_ra-deva",
"ss_pha-deva",
"ss_ma-deva",
"ss_m_ya-deva",
"ss_ya-deva",
"ss_ra-deva",
"ss_va-deva",
"ss_ssa-deva",
"s_ka-deva",
"s_ka-deva.alt1",
"s_k_ra-deva",
"s_k_va-deva",
"s_kha-deva",
"s_ja-deva",
"s_tta-deva",
"s_tta-deva.alt1",
"s_ta-deva",
"s_ta-deva.alt1",
"s_t_ya-deva",
"s_t_ra-deva",
"s_t_ra-deva.alt1",
"s_t_va-deva",
"s_th_ya-deva",
"s_da-deva",
"s_tha-deva",
"s_tha-deva.alt1",
"s_na-deva",
"s_na-deva.alt1",
"s_pa-deva",
"s_pa-deva.alt1",
"s_p_ra-deva",
"s_pha-deva",
"s_ba-deva",
"s_ma-deva",
"s_m_ya-deva",
"s_ya-deva",
"s_ya-deva.alt1",
"s_ra-deva",
"s_ra-deva.alt1",
"s_la-deva",
"s_la-deva.loclMAR",
"s_va-deva",
"s_sa-deva",
"h_nna-deva",
"h_na-deva",
"h_ma-deva",
"h_m_ya-deva",
"h_ya-deva",
"h_ra-deva",
"h_la-deva",
"h_va-deva",
"q_ta-deva",
"q_pha-deva",
"q_ba-deva",
"q_ma-deva",
"q_ra-deva",
"q_qa-deva",
"q_fa-deva",
"khh_ta-deva",
"khh_ma-deva",
"khh_ya-deva",
"khh_ra-deva",
"khh_va-deva",
"khh_sha-deva",
"khh_sha-deva.loclMAR",
"khh_sa-deva",
"ghh_ra-deva",
"z_ba-deva",
"z_ma-deva",
"z_ya-deva",
"z_ra-deva",
"z_za-deva",
"f_ta-deva",
"f_ra-deva",
"f_sa-deva",
"f_za-deva",
"f_fa-deva",
"yy_ra-deva",
"rr_ya-deva",
"rr_ha-deva",
"danda-deva",
"dbldanda-deva",
"zero-deva",
"one-deva",
"two-deva",
"three-deva",
"four-deva",
"five-deva",
"six-deva",
"seven-deva",
"eight-deva",
"nine-deva",
"zero-deva.alt1",
"one-deva.alt1",
"two-deva.alt1",
"three-deva.alt1",
"four-deva.alt1",
"five-deva.alt1",
"six-deva.alt1",
"seven-deva.alt1",
"eight-deva.alt1",
"nine-deva.alt1",
"zero-deva.alt2",
"one-deva.alt2",
"two-deva.alt2",
"three-deva.alt2",
"four-deva.alt2",
"five-deva.alt2",
"six-deva.alt2",
"seven-deva.alt2",
"eight-deva.alt2",
"nine-deva.alt2",
"zero-deva.alt3",
"one-deva.alt3",
"two-deva.alt3",
"three-deva.alt3",
"four-deva.alt3",
"five-deva.alt3",
"six-deva.alt3",
"seven-deva.alt3",
"eight-deva.alt3",
"nine-deva.alt3",
"abbreviation-deva",
"glottalstop-deva",
"om-deva",
rupeeIndian
)