(
.notdef,
.null,
CR,
space,
space.alt1,
space.alt2,
space.alt3,
space.alt4,
space.alt5,
space.alt6,
nbspace,
thinspace,
A,
A.alt1,
A.alt2,
A.alt3,
A.alt4,
A.alt5,
A.alt6,
B,
B.alt1,
B.alt2,
B.alt3,
B.alt4,
B.alt5,
B.alt6,
C,
C.alt1,
C.alt2,
C.alt3,
C.alt4,
C.alt5,
C.alt6,
D,
D.alt1,
D.alt2,
D.alt3,
D.alt4,
D.alt5,
D.alt6,
E,
E.alt1,
E.alt2,
E.alt3,
E.alt4,
E.alt5,
E.alt6,
F,
F.alt1,
F.alt2,
F.alt3,
F.alt4,
F.alt5,
F.alt6,
G,
G.alt1,
G.alt2,
G.alt3,
G.alt4,
G.alt5,
G.alt6,
H,
H.alt1,
H.alt2,
H.alt3,
H.alt4,
H.alt5,
H.alt6,
I,
I.alt1,
I.alt2,
I.alt3,
I.alt4,
I.alt5,
I.alt6,
J,
J.alt1,
J.alt2,
J.alt3,
J.alt4,
J.alt5,
J.alt6,
K,
K.alt1,
K.alt2,
K.alt3,
K.alt4,
K.alt5,
K.alt6,
L,
L.alt1,
L.alt2,
L.alt3,
L.alt4,
L.alt5,
L.alt6,
M,
M.alt1,
M.alt2,
M.alt3,
M.alt4,
M.alt5,
M.alt6,
N,
N.alt1,
N.alt2,
N.alt3,
N.alt4,
N.alt5,
N.alt6,
O,
O.alt1,
O.alt2,
O.alt3,
O.alt4,
O.alt5,
O.alt6,
P,
P.alt1,
P.alt2,
P.alt3,
P.alt4,
P.alt5,
P.alt6,
Q,
Q.alt1,
Q.alt2,
Q.alt3,
Q.alt4,
Q.alt5,
Q.alt6,
R,
R.alt1,
R.alt2,
R.alt3,
R.alt4,
R.alt5,
R.alt6,
S,
S.alt1,
S.alt2,
S.alt3,
S.alt4,
S.alt5,
S.alt6,
T,
T.alt1,
T.alt2,
T.alt3,
T.alt4,
T.alt5,
T.alt6,
U,
U.alt1,
U.alt2,
U.alt3,
U.alt4,
U.alt5,
U.alt6,
V,
V.alt1,
V.alt2,
V.alt3,
V.alt4,
V.alt5,
V.alt6,
W,
W.alt1,
W.alt2,
W.alt3,
W.alt4,
W.alt5,
W.alt6,
X,
X.alt1,
X.alt2,
X.alt3,
X.alt4,
X.alt5,
X.alt6,
Y,
Y.alt1,
Y.alt2,
Y.alt3,
Y.alt4,
Y.alt5,
Y.alt6,
Z,
Z.alt1,
Z.alt2,
Z.alt3,
Z.alt4,
Z.alt5,
Z.alt6,
AE,
AE.alt1,
AE.alt2,
AE.alt3,
AE.alt4,
AE.alt5,
AE.alt6,
Eth,
IJ,
IJ.alt1,
IJ.alt2,
IJ.alt3,
IJ.alt4,
IJ.alt5,
IJ.alt6,
Eng,
OE,
OE.alt1,
OE.alt2,
OE.alt3,
OE.alt4,
OE.alt5,
OE.alt6,
Thorn,
Germandbls,
Germandbls.alt1,
Germandbls.alt2,
Germandbls.alt3,
Germandbls.alt4,
Germandbls.alt5,
Germandbls.alt6,
a,
a.alt1,
a.alt2,
a.alt3,
a.alt4,
a.alt5,
a.alt6,
b,
b.alt1,
b.alt2,
b.alt3,
b.alt4,
b.alt5,
b.alt6,
c,
c.alt1,
c.alt2,
c.alt3,
c.alt4,
c.alt5,
c.alt6,
d,
d.alt1,
d.alt2,
d.alt3,
d.alt4,
d.alt5,
d.alt6,
e,
e.alt1,
e.alt2,
e.alt3,
e.alt4,
e.alt5,
e.alt6,
f,
f.alt1,
f.alt2,
f.alt3,
f.alt4,
f.alt5,
f.alt6,
g,
g.alt1,
g.alt2,
g.alt3,
g.alt4,
g.alt5,
g.alt6,
h,
h.alt1,
h.alt2,
h.alt3,
h.alt4,
h.alt5,
h.alt6,
i,
i.alt1,
i.alt2,
i.alt3,
i.alt4,
i.alt5,
i.alt6,
j,
j.alt1,
j.alt2,
j.alt3,
j.alt4,
j.alt5,
j.alt6,
k,
k.alt1,
k.alt2,
k.alt3,
k.alt4,
k.alt5,
k.alt6,
l,
l.alt1,
l.alt2,
l.alt3,
l.alt4,
l.alt5,
l.alt6,
m,
m.alt1,
m.alt2,
m.alt3,
m.alt4,
m.alt5,
m.alt6,
n,
n.alt1,
n.alt2,
n.alt3,
n.alt4,
n.alt5,
n.alt6,
o,
o.alt1,
o.alt2,
o.alt3,
o.alt4,
o.alt5,
o.alt6,
p,
p.alt1,
p.alt2,
p.alt3,
p.alt4,
p.alt5,
p.alt6,
q,
q.alt1,
q.alt2,
q.alt3,
q.alt4,
q.alt5,
q.alt6,
r,
r.alt1,
r.alt2,
r.alt3,
r.alt4,
r.alt5,
r.alt6,
s,
s.alt1,
s.alt2,
s.alt3,
s.alt4,
s.alt5,
s.alt6,
t,
t.alt1,
t.alt2,
t.alt3,
t.alt4,
t.alt5,
t.alt6,
u,
u.alt1,
u.alt2,
u.alt3,
u.alt4,
u.alt5,
u.alt6,
v,
v.alt1,
v.alt2,
v.alt3,
v.alt4,
v.alt5,
v.alt6,
w,
w.alt1,
w.alt2,
w.alt3,
w.alt4,
w.alt5,
w.alt6,
x,
x.alt1,
x.alt2,
x.alt3,
x.alt4,
x.alt5,
x.alt6,
y,
y.alt1,
y.alt2,
y.alt3,
y.alt4,
y.alt5,
y.alt6,
z,
z.alt1,
z.alt2,
z.alt3,
z.alt4,
z.alt5,
z.alt6,
ae,
ae.alt1,
ae.alt2,
ae.alt3,
ae.alt4,
ae.alt5,
ae.alt6,
eth,
eth.alt1,
eth.alt2,
eth.alt3,
eth.alt4,
eth.alt5,
eth.alt6,
ij,
ij.alt1,
ij.alt2,
ij.alt3,
ij.alt4,
ij.alt5,
ij.alt6,
eng,
oe,
oe.alt1,
oe.alt2,
oe.alt3,
oe.alt4,
oe.alt5,
oe.alt6,
thorn,
germandbls,
germandbls.alt1,
germandbls.alt2,
germandbls.alt3,
germandbls.alt4,
germandbls.alt5,
germandbls.alt6,
idotless,
idotless.alt1,
idotless.alt2,
idotless.alt3,
idotless.alt4,
idotless.alt5,
idotless.alt6,
jdotless,
jdotless.alt1,
jdotless.alt2,
jdotless.alt3,
jdotless.alt4,
jdotless.alt5,
jdotless.alt6,
kgreenlandic,
longs,
G.ss01,
G.ss01.alt1,
G.ss01.alt2,
G.ss01.alt3,
G.ss01.alt4,
G.ss01.alt5,
G.ss01.alt6,
I.ss01,
I.ss01.alt1,
I.ss01.alt2,
I.ss01.alt3,
I.ss01.alt4,
I.ss01.alt5,
I.ss01.alt6,
M.ss01,
M.ss01.alt1,
M.ss01.alt2,
M.ss01.alt3,
M.ss01.alt4,
M.ss01.alt5,
M.ss01.alt6,
a.ss01,
a.ss01.alt1,
a.ss01.alt2,
a.ss01.alt3,
a.ss01.alt4,
a.ss01.alt5,
a.ss01.alt6,
f.ss01,
f.ss01.alt1,
f.ss01.alt2,
f.ss01.alt3,
f.ss01.alt4,
f.ss01.alt5,
f.ss01.alt6,
i.ss01,
i.ss01.alt1,
i.ss01.alt2,
i.ss01.alt3,
i.ss01.alt4,
i.ss01.alt5,
i.ss01.alt6,
l.ss01,
l.ss01.alt1,
l.ss01.alt2,
l.ss01.alt3,
l.ss01.alt4,
l.ss01.alt5,
l.ss01.alt6,
y.ss01,
y.ss01.alt1,
y.ss01.alt2,
y.ss01.alt3,
y.ss01.alt4,
y.ss01.alt5,
y.ss01.alt6,
zero,
zero.alt1,
zero.alt2,
zero.alt3,
zero.alt4,
zero.alt5,
zero.alt6,
one,
one.alt1,
one.alt2,
one.alt3,
one.alt4,
one.alt5,
one.alt6,
two,
two.alt1,
two.alt2,
two.alt3,
two.alt4,
two.alt5,
two.alt6,
three,
three.alt1,
three.alt2,
three.alt3,
three.alt4,
three.alt5,
three.alt6,
four,
four.alt1,
four.alt2,
four.alt3,
four.alt4,
four.alt5,
four.alt6,
five,
five.alt1,
five.alt2,
five.alt3,
five.alt4,
five.alt5,
five.alt6,
six,
six.alt1,
six.alt2,
six.alt3,
six.alt4,
six.alt5,
six.alt6,
seven,
seven.alt1,
seven.alt2,
seven.alt3,
seven.alt4,
seven.alt5,
seven.alt6,
eight,
eight.alt1,
eight.alt2,
eight.alt3,
eight.alt4,
eight.alt5,
eight.alt6,
nine,
nine.alt1,
nine.alt2,
nine.alt3,
nine.alt4,
nine.alt5,
nine.alt6,
dollar,
euro,
cent,
sterling,
yen,
florin,
liraTurkish,
bitcoin,
percent,
perthousand,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
quotesingle,
quotedbl,
quoteleft,
quoteright,
quotesinglbase,
quotedblleft,
quotedblright,
quotedblbase,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
AEacute,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adotbelow,
Ahookabove,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
Dcaron,
Dcroat,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edotbelow,
Ehookabove,
Etilde,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Hbar,
Hcircumflex,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
Idotbelow,
Ihookabove,
IJacute,
IJacute.alt1,
IJacute.alt2,
IJacute.alt3,
IJacute.alt4,
IJacute.alt5,
IJacute.alt6,
Jcircumflex,
Kcommaaccent,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odotbelow,
Ohookabove,
Ohorn,
Ohorn.alt1,
Ohorn.alt2,
Ohorn.alt3,
Ohorn.alt4,
Ohorn.alt5,
Ohorn.alt6,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Racute,
Rcaron,
Rcommaaccent,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Uhookabove,
Uhorn,
Uhorn.alt1,
Uhorn.alt2,
Uhorn.alt3,
Uhorn.alt4,
Uhorn.alt5,
Uhorn.alt6,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ydotbelow,
Yhookabove,
Ytilde,
Zacute,
Zcaron,
Zdotaccent,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
aeacute,
agrave,
amacron,
aogonek,
aring,
atilde,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adotbelow,
ahookabove,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
dcaron,
dcaron.alt1,
dcaron.alt2,
dcaron.alt3,
dcaron.alt4,
dcaron.alt5,
dcaron.alt6,
dcroat,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edotbelow,
ehookabove,
etilde,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
hbar,
hcircumflex,
iacute,
ibreve,
icaron,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
itilde,
idotbelow,
ihookabove,
ijacute,
ijacute.alt1,
ijacute.alt2,
ijacute.alt3,
ijacute.alt4,
ijacute.alt5,
ijacute.alt6,
jcircumflex,
kcommaaccent,
lacute,
lcaron,
lcaron.alt1,
lcaron.alt2,
lcaron.alt3,
lcaron.alt4,
lcaron.alt5,
lcaron.alt6,
lcommaaccent,
ldot,
ldot.alt1,
ldot.alt2,
ldot.alt3,
ldot.alt4,
ldot.alt5,
ldot.alt6,
lslash,
nacute,
ncaron,
ncommaaccent,
ntilde,
oacute,
obreve,
ocaron,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odotbelow,
ohookabove,
ohorn,
ohorn.alt1,
ohorn.alt2,
ohorn.alt3,
ohorn.alt4,
ohorn.alt5,
ohorn.alt6,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
racute,
rcaron,
rcommaaccent,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
tbar,
tcaron,
tcaron.alt1,
tcaron.alt2,
tcaron.alt3,
tcaron.alt4,
tcaron.alt5,
tcaron.alt6,
tcedilla,
tcommaaccent,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
uhookabove,
uhorn,
uhorn.alt1,
uhorn.alt2,
uhorn.alt3,
uhorn.alt4,
uhorn.alt5,
uhorn.alt6,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
wacute,
wcircumflex,
wdieresis,
wgrave,
yacute,
ycircumflex,
ydieresis,
ygrave,
ydotbelow,
yhookabove,
ytilde,
zacute,
zcaron,
zdotaccent,
lcaron.ss01,
lcaron.ss01.alt1,
lcaron.ss01.alt2,
lcaron.ss01.alt3,
lcaron.ss01.alt4,
lcaron.ss01.alt5,
lcaron.ss01.alt6,
ldot.ss01,
ldot.ss01.alt1,
ldot.ss01.alt2,
ldot.ss01.alt3,
ldot.ss01.alt4,
ldot.ss01.alt5,
ldot.ss01.alt6,
fi,
fl,
grave,
acute,
circumflex,
tilde,
macron,
firsttonechinese,
breve,
dotaccent,
dieresis,
ring,
hungarumlaut,
caron,
cedilla,
ogonek,
commaturnedmod,
caron.alt,
brevecomb_acutecomb.case,
brevecomb_gravecomb.case,
brevecomb_hookabovecomb.case,
brevecomb_tildecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_hookabovecomb.case,
circumflexcomb_tildecomb.case,
dieresiscomb.case,
dotaccentcomb.case,
gravecomb.case,
acutecomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
caroncomb.case,
brevecomb.case,
ringcomb.case,
tildecomb.case,
macroncomb.case,
hookabovecomb.case,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
gravecomb,
acutecomb,
circumflexcomb,
tildecomb,
macroncomb,
brevecomb,
dotaccentcomb,
dieresiscomb,
ringcomb,
hungarumlautcomb,
caroncomb,
commaturnedabovecomb,
ogonekcomb,
cedillacomb,
commaaccentcomb,
hookabovecomb,
horncomb,
dotbelowcomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
strokeshortcomb.case,
slashshortcomb.case,
slashlongcomb.case,
strokeshortcomb.t,
apostrophemod,
degree,
minute,
second,
asterisk,
numbersign,
ampersand,
at,
parenleft,
parenright,
bracketleft,
bracketright,
braceleft,
braceright,
slash,
backslash,
bar,
brokenbar,
periodcentered,
bullet,
hyphen,
softhyphen,
endash,
emdash,
hyphen.case,
at.case,
exclamdown.case,
questiondown.case,
dagger,
daggerdbl,
section,
paragraph,
asciicircum,
asciitilde,
underscore,
copyright,
registered,
trademark,
numero,
currency,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
ordfeminine,
ordmasculine,
fraction,
onehalf,
onequarter,
threequarters,
partialdiff,
Ohm,
increment,
product,
summation,
Delta,
Omega,
mu,
pi,
micro,
divisionslash,
bulletoperator,
radical,
infinity,
integral,
approxequal,
notequal,
lessequal,
greaterequal,
less,
equal,
greater,
lozenge,
plus,
minus,
plusminus,
divide,
multiply,
logicalnot,
shootingStar,
birthdayCake,
artistPalette,
whiteUpBackhandIndex,
thumbsUpSign,
thumbsDownSign,
openBook,
cheeringMegaphone,
battery,
unicornFace,
jigsawPuzzlePiece,
ringedPlanet,
pencil,
checkmark,
crossMark,
directHit,
tRex,
homework,
paperplane,
pencilbook,
sportsMedal,
suninlove,
sunpirate,
sunFace,
sunsad,
sunwink,
dottedCircle,
f_f,
f_f_i,
f_f_l,
t_t
)